.divs {
  width: 100%;
  height: 800px;
  padding-top: 60px;
  background-color: red;
  background-image: url("https://yanyunfeng.com/_nuxt/backimage3.4f6831bb.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Page {
  height: 1700px;
  width: 100%;
  display: flex;
  background-color: rgba(239, 236, 236, 0.1);
  z-index: 999;
  .left {
    flex: 3;
    height: 100%;
    // background-color: rgba(109, 166, 216, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .right {
    flex: 5;
    // background-color: rgba(109, 166, 216, 0.3);
    height: 100%;
  }
}
